.head1{
  background-color: #59f8e8;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  border: none;
  border-radius: 25px;
}

.container{
  padding: 2rem;
}

.slider-wrapper{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 48rem;
  margin: 0 auto;
}

.slider{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 768px;
  height: 800px;
  /* Ensure slides are aligned properly within the container */
  scroll-snap-align: start;
}

.slider::-webkit-scrollbar{
  border-radius: 10px;
  background-color: #007bff;
  height: 30px;
}

.slider::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

.slider::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #20A4F3;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0; /* Prevent flex items from shrinking */
  scroll-snap-align: center;
  opacity: 1; /* Start with invisible slides */
  transition: opacity 0.3s ease; /* Smooth transition for fade effect */
}

.slide.active {
  display: block;
  opacity: 1; /* Make active slide visible */
}

.slider h1{
  font-size: 5rem;
  text-align: center;
}

ul{
  padding: 0;
}

li{
  font-size: 3rem;
  text-align: center;
  list-style-position: inside;
}

.list3{
  display: inline;
}

.foot{
  position: absolute;
  top: 140%;
  width: 100%;
  text-align: center;
}

h2{
  font-size: 3rem;
  display: inline;
  margin-right: 10px;
}

.buttonfoot{
  background-color: #941c2f;
  border: none;
  font-size: 3rem;
  border-radius: 25px;
  color: white;
}
