
<div class="header">
  <button class="head1">Pick What Is Best For You</button>
</div>

<section class="container">
  <div class="slider-wrapper">
    <div class="slider">

      <div id="texting1" class="slide">
        <h1>Basic $29.99</h1>
        <ul>
          <li>Cut/Crop</li>
          <li>2 Revisions</li>
        </ul>
      </div>

      <div id="texting2" class="slide">
        <h1>Intermediate $79.99</h1>
        <ul>
          <li>Cut/Crop</li>
          <li>Light EQ Work</li>
          <li>Thumbnails</li>
          <li>Sound work</li>
          <li>5 Revisions</li>
        </ul>
      </div>

      <div id="texting3" class="slide">
        <h1>Pro $119.99</h1>
        <ul class="list3">
          <li>Cut/Crop</li>
          <li>Full EQ Work</li>
          <li>Color Correction</li>
          <li>Thumbnails</li>
          <li>Sound work</li>
          <li>Motion Graphics</li>
          <li>10 Revisions</li>
        </ul>
      </div>

    </div>
  </div>
</section>


<div class="foot">
  <h2>Interested In Us? Register Now and Send Us Your First Video!</h2>
  <a href="http://localhost:4200/register">
    <button class="buttonfoot">Click Now</button>
  </a>

</div>


