.header{
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 20%;
  width: 100%;
}


.mainhead{
  font-size: 3rem;
  font-family: Gelasio;
  background-color: #20A4F3;
  color: white;
  border-radius: 25px;
  width: 695px;
  height: 116px;
  border: none;
}

span{
  color: #59f8e8;
}

.registerlink{
  font-size: 2rem;
  font-family: Gelasio;
  background-color: #941c2f;
  color: white;
  border-radius: 10px;
  border: none;

}

.headerText{
  display: inline-block;
  padding-right: 20px;
}

.body1{
  position: absolute;
  top: 70%;
  display: inline-block;
}

.image1 {
  width: 950px;
  height: 435px;
}

.head2{
  font-size: 5rem;
  font-family: Gelasio;
  background-color: #20A4F3;
  color: white;
  border-radius: 25px;
  width: 1000px;
  height: 116px;
  border: none;
  position: absolute;
  right: -110%;
}

.text1{
  position: absolute;
  top: 85%;
  font-size: 3rem;
  left: 55%;
}

.text2{
  position: absolute;
  top: 100%;
  font-size: 3rem;
  left: 55%;
}


.image2{
  width: 900px;
  height: 600px;
  position: absolute;
  top: 130%;
  right: 0%;
}

.head3{
  font-size: 5rem;
  font-family: Gelasio;
  background-color: #20A4F3;
  color: white;
  border-radius: 25px;
  width: 1000px;
  height: 200px;
  border: none;
  position: absolute;
  top: 130%;
  left: -5%;
}

ul{
  font-size: 5rem;
  position: absolute;
  top: 150%;
  left: 5%;
}


.background{
  position: absolute;
  background-color: #c1cfda;
  top: 210%;
  width: 800px;
  height: 300px;
  left: 33%;
  border: none;
  border-radius: 25px;
}

.find{
  font-size: 3rem;
  position: absolute;
  top: 220%;
  left: 35%;
}

.social1{
  font-size: 3rem;
  position: absolute;
  top: 208%;
  left: 50%;
}

.social2{
  font-size: 3rem;
  position: absolute;
  top: 218%;
  left: 50%;
}

.social3{
  font-size: 3rem;
  position: absolute;
  top: 228%;
  left: 50%;
}

