<div class="header">
  <button class = "mainhead">The Next step in your Content Creation <span>Starts Here</span></button><br>
  <h1 class="headerText">Shop Now</h1>
  <button class="registerlink">You Won't Regret It!</button>
</div>

<div class="body1">
  <img class="image1" src="/images/image1.jpg">
  <button class="head2">We Make It <span>Easy</span></button>

</div>


<h1 class="text1">At Edify We edit your videos just <br>how you like!</h1>
<h1 class="text2">Send us your video and let us do the magic for you</h1>


<div class="body2">
  <img class="image2" src="/images/image2.jpg">
  <button class="head3">Explore Our Different <span>Packages</span></button>
</div>

<ul>
  <li>Basic</li>
  <li>Intermediate</li>
  <li>Pro</li>
</ul>

<div  class="FindUs">
  <button class="background"></button>
  <h1 class="find">Find us on:</h1>
  <h1 class="social1">Insta - TheEdify</h1>
  <h1 class="social2">X - TheEdifyColumn</h1>
  <h1 class="social3">Facebook - TheEdify</h1>
</div>

