
.header{
  position: absolute;
  margin-top: 1px;
  font-size: 6rem;
}

.mylist{
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}

li{
  display: inline;
  margin-right: 30px;
}

.links{
  position: absolute;
  left: 68%;
  text-align: right;
}

a{
  color: white;
  text-decoration: inherit;
}
