
<h1 class="header">About</h1>

<div class="body1">
  <img class="Who" src="/assets/whoimage.jpg" alt="" width="1800" height="800">
</div>

<button class="whowe"></button>

<h1 class="title1"><span>Who Are We?</span></h1>
<p class="text1">Edify was founded and developed by Daniel Lopez. He believed in creating a space where content creators could go to get help with all of their editing needs without the hassle of looking for someone.</p>

<div class="body2">
  <img class="helpimage" src="/assets/helpimage.jpg" alt="">
</div>

<button class="howwehelp"></button>

<h1 class="title2"><span>How Can We Help You?</span></h1>

<p class="text2">We help by providing a safe and secure site you can use to your full disposal. Why spend hours editing a video at home when you can send us your content and receive it in no time at all!</p>

<h1 class="bottomheader">Your editing needs are just one push away!</h1>

<a href="http://localhost:4200/register">
  <button class="registerlink">Click Here</button>
</a>

