.RegisterPage{
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 20%;
  width: 100%;
}

span{
  color: #59f8e8;
}

input{
  background-color: #c1cfda;
  width: 1000px;
  height: 58px;
  font-size: 3rem;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-family: "Irish Grover";
  font-weight: bold;
}

input::placeholder{
  font-family: "Irish Grover";
  font-weight: bold;
  opacity: 0.5;
  font-size: 3rem;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  position: absolute;
  top: 5%;
}

button{
  font-size: 3rem;
  font-family: Gelasio;
  background-color: #941c2f;
  color: white;
  border-radius: 100px;
  width: 362px;
  height: 118px;
  border: none;
}
