<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1 class="header">Your Cart</h1>

  <form>
    <div class="AccountInfo">

      <p class="name">Name:</p>
      <input name="myname" type="text" id="name">

      <p class="email">Email:</p>
      <input name="myemail" type="email" id="email">

      <p class="video">Video:</p>
      <input name="myfile" type="file" id="video" accept="video/mp4,video/x-matroska,video/*">
    </div>

    <div class="package">

      <h1 class="head2">Select Your Package:</h1>
      <select name="pack" class="selector">
        <option value="Basic">Basic</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Pro">Pro</option>
      </select>
    </div>


    <button type="submit" class="purchase">Purchase</button>
  </form>

  <script>
    const form = document.querySelector('form');

    form.addEventListener('submit', (e) =>{
      e.preventDefault();

      const fd = new FormData(form);

      const urlEncoded = new URLSearchParams(fd).toString();

      fetch('https://localhost:4200/cart', {
        method: "POST",
        body: fd
      })
    })
  </script>

</body>
</html>
