.header{
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: 20%;
  width: 100%;
}

.AccountInfo{
  position: absolute;
  top: 40%;
  width: 1000px;
  height: 600px;
  background-color: #c1cfda;
  border-radius: 25px;
  border: none;
}

.package{
  position: absolute;
  top: 110%;
  width: 1000px;
  height: 400px;
  background-color: #20A4F3;
  border-radius: 25px;
  border: none;
}

.purchase{
  position: absolute;
  top: 90%;
  left: 60%;
  width: 500px;
  height: 300px;
  background-color: #941c2f;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 4rem;
}

p{
  font-size: 5rem;
}

input{
  font-size: 3rem;
}


.name{
  position: absolute;
  top: 33%;
  left: 2%;
}

#name{
  position: absolute;
  top: 43%;
  left: 15%;
  width: 700px;
  height: 100px;
}

.email{
  position: absolute;
  top: 53%;
  left: 2%;
}

#email{
  position: absolute;
  top: 63%;
  left: 15%;
  width: 700px;
  height: 100px;
}

.video{
  position: absolute;
  top: 73%;
  left: 2%;
}

#video{
  position: absolute;
  top: 83%;
  left: 15%;
}

.head2{
  position: absolute;
  top: 110%;
  left: 2%;
  font-size: 5rem;
}

.selector{
  position: absolute;
  top: 130%;
  left: 2%;
  font-size: 5rem;
}


