<meta charset="UTF-8">
<title>Document</title>
<h1 class="header">Your Cart</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="AccountInfo">
    <p class="name">Name:</p>
    <input type="text" id="name" formControlName="name" required>
    <p class="email">Email:</p>
    <input type="email" id="email" formControlName="email" required>
  </div>
  <div class="package">
    <h1 class="head2">Select Your Package:</h1>
    <select class="pack" id="pack" formControlName="topic" required>
      <option value="Basic">Basic</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Pro">Pro</option>
    </select>
  </div>
  <button type="submit" class="purchase">Purchase</button>
</form>
